body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: gainsboro;
}

main{
    flex: 1;
    width: 80%;
    margin: 40px auto;
}

section{
    background-color: white;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}

aside{
    flex: 1;
    width: 76.5%;
    padding: 20px 30px;
    margin: 40px auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
aside a{
    text-decoration: none;
    color: #0055a0;
}

header{
    background: linear-gradient(90deg, #111, #3a0ca3);
    color: white;
    padding: 25px;
    text-align: center;
}

footer{
    background-color: #111;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 18px;
}

.nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover{
    color: #00f5ff;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px
}

.card{
    background: rgb(231, 235, 237);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card h4{
    margin: 0;
    font-size: 24px;
    color : #333;
}

.card p{
    color: gray;
}

.card img{
    border-radius: 5px;
    width: 100%;
}

.img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.img1{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 4px 12px 2px rgba(0,0,0,0.3);
}

.img2{
    width: 70%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 4px 12px 2px rgba(0,0,0,0.3);
}

.img3{
    width: 80%;
    max-width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 12px 2px rgba(0,0,0,0.3);
}

table{
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
}

th{
    background: #1e3c72;
    color: white;
}

.section1{
    background-color: #D7FCD7;
    transition: 0.3s;
}

.section1:hover{
    transform: translateY(-4px);
}

.section2{
    background-color: #FCD7D7;
    transition: 0.3s;
}

.section2:hover{
    transform: translateY(-4px);
}

.container1 ol{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cardG{
    background-color: rgb(235, 236, 236);
    margin: 15px 0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 5px 15px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.cardG img{
    width: 55px;
    border-radius: 10px;
}

.cardG:hover{
    color: goldenrod;
}

.container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.ch2{
    font-size: 45px;
    text-align: center;
    padding: 15px 0;
}

.form{
    display: grid;
    gap: 20px;
    padding: 20px;
}

.form h2{
    font-size: 25px;
}

.cardR{
    background: rgb(232, 232, 232);
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.3);
}
.cardL{
    background: rgb(232, 232, 232);
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.3);
}
button{
    background-color: green;
    color: white;
}
